@import "@/utils/universalUtils/colors.module.scss";

.container {
  height: calc(100% - 10px);
  overflow-y: scroll;
  width: 100%;

  .eachCard {
    width: 100%;
    padding: 1rem;

    .headTitle {
      font-size: 1.5rem;
      font-weight: 700;
      margin-bottom: 1rem;
      color: $bgcolor;
    }
    .headTitle1 {
      font-size: 1.2rem;
      font-weight: 700;
      margin-bottom: 0.5rem;
    }
  }

  .cardsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 1rem;
  }

  .eachCertification {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);

    .certficateTitle {
      font-weight: 600;
      margin-bottom: 0.5rem;
      text-align: center;
    }

    .fileContainer {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .filePreview {
      width: 100%;
      max-width: 100%;
      max-height: 400px;
      object-fit: contain;
    }
  }
}
