@import "@/utils/universalUtils/colors.module.scss";

.container {
  height: 90vh;
  margin: 1rem;
}
.head {
  color: $bgcolor;
  font-size: 20px;
  font-weight: 700;
}
.custom_table :global(.ant-table-thead > tr > th) {
  background-color: #25a3a61a; // or any other color you prefer
  font-weight: bold;
}

.custom_table {
  margin-top: 1rem;
}

/* placementReport.module.scss */

.container1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.article {
  width: 900px;
  background: #fff;
  color: #000;
  font-size: 14px;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.header {
  width: 100%;
  text-align: left;
}

.section {
  width: 100%;
  //   padding: 10px;
}

.sectionTitle {
  font-size: 20px;
  margin-bottom: 10px;
}

.row {
  display: flex;
  margin-bottom: 6px;
  font-size: 18px;
}

.label {
  min-width: 20%;
  font-weight: bold;
}

.value {
  margin: 0;
}

.addressText {
  font-size: 18px;
}

.ulList {
  padding-left: 20px;
  font-size: 18px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  font-size: 16px;
}

.tableHead {
  background: #f0f0f0;
}

.tableCell {
  padding: 8px;
}

.tableCenter {
  text-align: center;
  padding: 4px;
}

.footer {
  padding-top: 10px;
  text-align: center;
  font-style: italic;
  width: 100%;
}
