$bgcolor: #25a3a6;
$primary10: #25a3a61a;

$white: #fff;

$primaryColor: #25A3A6;
$sedcondaryColor: #25A3A6;
$borderColor :"#000000";

$backgroundColor : rgba(12, 88, 182, 0.5);
$backgroundColor1 : rgba(12, 88, 182, 0.3);
$backgroundColorLowOpacity : rgba(12, 88, 182, 0.1);
$disabledColor : rgba(206, 206, 206, 1);



$white: #ffffff;

$borderColor: #00000033;

