@import "../../styles/mixins.scss";
@import "../../styles/colors.scss";

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 24px;
  background: #fff;
  border: 1px solid;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
  height: 70vh;
  overflow-y: scroll;
  /* Custom Scrollbar Styling */
  &::-webkit-scrollbar {
    width: 6px; // reduced width
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #25a3a6;
    border-radius: 6px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #1b8184;
  }

  /* Firefox */
  scrollbar-width: thin;
  scrollbar-color: #25a3a6 transparent;
  .respTitle {
    @include flexBox(column, flex-start, center);
    gap: 0.5rem;
    width: 100%;
    padding: 0.5rem 0;
    color: $navbarColor;
    font-weight: 700;
    font-size: 1.2rem;
    p {
      font-weight: 500;
    }
  }
  .editor_div {
    width: 80%;
    height: 14rem;
    border: $border;
    .textEditor_inst {
      width: 80%;
      height: 100%;
      border-radius: 10px;

      & > :nth-child(1) {
        border: 0;
        border: $border;
      }
      & > :nth-child(2) {
        border: 0;
      }
    }
  }

  .formComp {
    width: 100%;
  }

  .ConsetComp {
    @include flexBox(column, flex-start, flex-start);
    width: 100%;
    gap: 0.5rem;
    .consentForm {
      width: 15%;
    }
    .editorComp {
      width: 85%;
      height: 100%;
      overflow: hidden;
    }
  }
  .save {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}
