$whitecolor: white;
$blackcolor: black;
$navbarColor: #1e69da;
$sidebargray: #f1f1f1;
$iconBackground: #1e69da;
$categoryColor: #56d2d44d;
$qmbtncolorpink: #fddfdf;
$graybackground: #d2feff;
$profilebackground: #1e69da;
$btnbackground: #56d2d426;
$statuscolor: #fc7474;
$border: 0.2px solid gray;
$btngreencolor: #1e69da;
$hovergreencolor: #1150b3;
$inputColor: #ebffff;
$topicbackcolor: #d9d9d9;
$NoQuestionscontainer: #1e69da;
$formBoxshadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
  rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

$iconBackgroundLowOpacity: #1e69da;
$selfPaced: #1e69da59;
$liveTraning: #869df0;
$notanswered: #4e4eff;
$ComprehensionDeleteBtn: #ff0000ba;
$studentTestBlock: #e43e5f;

// ------------grading and summary-----------
$selected: #89e0e1;
$notSelected: #e6f8f9;

// --------------All test cards----------
$statusDefault: #6e87f5;
$statusInactive: orange;
$Expired: rgb(228, 62, 95);

// ---------- progress component ---------
$backgroundFail: rgba(255, 0, 0, 0.1);
$backgroundPass: rgba(30, 105, 218, 0.1);
$textRed: red;
$textGreen: #1e69da;

//------results---------
$partialScore: #ff8540;
$negScore: #ff3939;
// -------integration module--------
$sliderChecked: #1e69da59;
$slider: #ccc;
$sliderBefore: #fff;

//-----login--------
$bluecolor: blue;
$divBackground: rgb(186, 184, 184);
$otpBtn: #222;
$nthChild1: #ea4335;
$nthChild2: #3a579d;
$nthChild3: #007bb5;

//-----Access--------
$LeavingtestpageButton: #56d2d480;
// $disableinputsChceked:#56D2D4;
$groupBackground: #f1f5f8;
$bottomMessageCont: #fff6f0;
$sendCodeBtn: #1e69da;

//----------- switch reuseble compomnent -------
$switchon: #b7e598;
$switchoff: #fc686c;

//---------manual evaluation-------------
$completed_btn: #87cc8580;
$pending_btn: #ff9696;

//----test portal----------

$iconBackgroundLowOpacity10: #56d2d421;

$buttonBackground: #fafafa;

$lightbg: #6e6e6e;

$scrollBorder: #f5f5f5;

$white: #ffffff;

$black: #000000;

$orange: #ffa500;

$bgSelected: #56d2d499;
