@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@mixin flexBox($direction, $aligment, $justify, $gap: 0) {
  display: flex;
  align-items: $aligment;
  flex-direction: $direction;
  justify-content: $justify;
  gap: $gap;
}

@mixin button($padding, $bgColor, $color, $hoverBGColor, $hoverColor) {
  outline: none;
  border: none;
  background-color: $bgColor;
  color: $color;
  padding: $padding;
  &:hover {
    background-color: $hoverBGColor;
    color: $hoverColor;
  }
}

@mixin fontMixin($fontSize: 1rem, $fontweight: 500) {
  font-size: $fontSize;
  font-weight: $fontweight;
}
