
.container {
  display: flex;
  width: 100%;
  height: 100%;
  flex: 1;
}

.sidebar {
  border-right: 2px solid rgba(128, 128, 128, 0.57);
  padding: 1rem 1.2rem;
  width: 20%;
  .sideNavBtnCont {
    height: fit-content;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 0.5rem;
    .Sidenavbtn {
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: block;
      max-width: 100%;
      border-color: lightgray;
    }
  }
}

.content {
  height: 100%;
  overflow-y: auto;
  width: 80%;
  padding: 1rem;
  &::-webkit-scrollbar {
    width: 6px; // reduced width
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #25a3a6;
    border-radius: 6px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #1b8184;
  }

  /* Firefox */
  scrollbar-width: thin;
  scrollbar-color: #25a3a6 transparent;
}
.logoCont {
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 2rem;
  gap: 1rem;
  .Instlogo {
    aspect-ratio: 16/9;
    overflow: hidden;
  }
  .logo {
    width: calc(40% + 20px);
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid lightgray;
  }
  .tpoName {
    font-size: calc(18px + 0.5vw);
    font-weight: 700;
  }
}


.formContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  padding: 0 1rem;
}

.dynamicFormContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem 0 3rem 0;
  z-index: 1;
  .buttonContainer {
    width: 100%;
    background-color: #f5f5f5;
    padding: 0.5rem 0;
    position: sticky;
    bottom: 0;
    .saveButton {
      width: fit-content;
      float: right;
    }
  }
}
.headertitleCont {
  // padding: 0.5rem 0;
  border-bottom: 1px solid;
  width: 100%;
  position: sticky;
  top: 1.3px;
  background-color: #f5f5f5;
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.formTitle {
  font-size: 22px;
  font-weight: 700;
  margin: 0;
}

.formField {
  background-color: #f5f5f5;
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 1rem;
  flex-wrap: wrap;
  label {
    font-size: 16px;
    font-weight: 700;
    flex: 1 1 30%;
    min-width: 10rem;
  }
  .inputField {
    flex: 1 1 60%;
    padding: 8px;
    font-size: 16px;
    align-self: flex-start;
    border-radius: 5px;
    outline: 0;
    border: 1px solid gray;
    background-color: transparent;
    &:focus {
      outline: 1px solid ;
    }
    &::placeholder {
      color: rgb(195, 195, 195);
    }
  }
  .selectField {
    align-self: flex-start;
    // width: 50%;
    flex: 1 1 70%;
  }
}

.arrayField {
  margin-top: 1rem;
  width: 100%;
  .arrayItem {
    border: 1px solid gray;
    border-radius: 10px;
    margin: 0.5rem 0;
    align-self: flex-start;
    padding: 1rem;
    width: 100%;
    .arrayItemActions {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-top: 0.5rem;
    }
  }
}
.ArraySubtitle {
  width: 60%;
  padding: 1rem 0;
}
.uploadfieldmain {
  display: flex;
  align-items: center;
  label {
    flex: 1 1 30%;
  }
  .uploadField {
    flex: 1 1 60%;
    align-self: flex-start;
  }
}
