.container {
    padding: 2rem;
}

.btn {
    display: flex;
    justify-content: end;
    cursor: pointer;

    &:hover {
        box-sizing: 10px 10px 10px rgb(125, 115, 115);
    }
}

.about {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .head {
        font-size: 20px;
        font-weight: bold;
    }

    .mark {
        display: flex;
        justify-content: space-between;
        gap: 1.5rem;
    }

    .ticks {
        cursor: pointer;
    }
}

.aboutsidedata {
    display: flex;
    width: 100%;
    font-size: 14px;
    height: 10rem;
}

.leftSection, .rightSection {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.leftSection {
    gap: 1rem;
    margin-top: 1rem;
}

.rightSection {
    gap: 1.2rem;
    margin-top: 1rem;
}

.detailRow {
    display: flex;
    justify-content: start;
    align-items: center;
}

.label {
    width: 10rem;
}

.value {
    font-weight: bold;
}

.select {
    width: 12.5rem;
}

.option {
    font-weight: bold;
}

.collegeRow {
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 0.7rem;
    margin-top: 1rem;
}

.collegeLabel {
    font-size: 14px;
    width:18rem;
}
.collegeLabelData{
    font-size: 14px;
}

.longSelect {
    width: 36rem;
}

.regNumberRow {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 2rem;
    gap: 1.5rem;
}

.regLabel {
    font-size: 14px;
}

.regValue {
    font-weight: bold;
}

.summaryText {
    line-height: 24px;
    margin-top: 0.5rem;
}

.addressTitle {
    font-weight: bold;
    border-bottom: 1px solid grey;
    width: 10rem;
    margin-top: 1rem;

    &:first-of-type {
        width: 8rem;
    }
}

.sameAddressBtn {
    margin-top: 1rem;
}