$iconBackgroundLowOpacity: #56d2d47a;

$buttonBackground: #fafafa;
$sidebarbtncolor: #f1f1f1;

$selfPaced: #87cc85;
$liveTraning: #869df0;
$liveStreaming: #fc7474;

$correctAns: #87cc85;
$incorrectAns: #e43e5f;
$unattempted: #869df0;
$notanswered: #4e4eff;

// ---------Global colors -------

$white: #ffffff;

$iconBackground: #1da469;
$headerColor: #1da46933;

$resultsColor: #1da46980;
$palColor: #de5148;
$gray: #808080;
$black: #000000;
$orange: #ffa500;
$red: #ff0000;

// ---------Global colors --------

/* ---------LoginPage colors ------*/

$whitebackground: #bab8b8;
$graybackground: #222222;
$anchorTag: blue;

/* ---------LoginPage colors ------*/

/*-----------MainPage.js colors --------*/
$borderColor: #00000033;
/*-----------MainPage.js colors --------*/

/*-----------testsPage colors --------*/

$whiteLowOpacity: #f5f5f5;
$blackBorderColor: #0000004d;
$placeholderColor: #80808043;

/*-----------testsPage colors --------*/

/*-----------testsCard colors --------*/

$resultsbtnColor: #56d2d470;
$bluebackground: #6e87f5;
$cardBackground: #ffffffdd; 

/*-----------testsCard colors --------*/

/*-----------results colors --------*/

$resultChartBackground: #1da4694d;

/*-----------results colors --------*/
