.container {
  width: 98%;
  height: 98%;
  align-self: center;
  overflow: hidden;
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
  }
  .questionListCont {
    height: 90%;
    max-height: 80vh;
    overflow-y: scroll;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    margin-top: 0.5rem;
    padding: 0.3rem;
  }
}
.questionItem {
  border: 1px solid #24A0584d;
  border-radius: 8px;
  background: white;

  &:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  }
}

.questionItemHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.questionItemHeaderLeft {
  display: flex;
  align-items: center;
  gap: 12px;
}

.questionItemHeaderRight {
  display: flex;
  align-items: center;
  gap: 16px;
  div {
    border: 1px solid #24A058;
    padding: 0.2rem 0.5rem;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
    background-color: #24A0584d;
  }
}

.questionText {
  font-weight: 600;
  color: #24A058;
}

.question {
  margin-top: 12px;
  padding: 8px 0;

  p {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
  }
}

.option {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  margin-bottom: 8px;
  border-radius: 8px;
  padding: 0 1rem;
  width: auto;
  border: 1px solid lightgray;
  font-weight: 600;

  &:last-child {
    margin-bottom: 0;
  }
}
