@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: "Montserrat" !important;
}

:fullscreen::backdrop {
  background: none;
}
.ql-container.ql-snow {
  height: 20rem;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.ql-toolbar.ql-snow {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
:where(.css-dev-only-do-not-override-1pg9a38).ant-modal .ant-modal-footer >.ant-btn+.ant-btn {
  margin-inline-start: 8px;
    background-color: #56D2D4;
}
:where(.css-dev-only-do-not-override-1pg9a38).ant-btn-primary {
  color: black;
  background: #56D2D4;
  box-shadow: 0 2px 0 rgba(5, 145, 255, 0.1);
}