@use "@/modules/admin/styles/colors" as *;
.container {
  width: 100%;
  height: 100%;
}

.contentCont {
  height: calc(100vh - 110px);
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #1E69DA;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #1557b0;
  }

  scrollbar-width: thin;
  scrollbar-color: #1E69DA transparent;
}

.customTabs {
  :global(.ant-tabs-tab) {
    font-size: 20px !important;
    font-weight: 700 !important;
    margin: 0 20px !important;
    padding: 12px 16px !important;
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
  }

  :global(.ant-tabs-tab-btn) {
    font-size: 18px !important;
    font-weight: 700 !important;
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
  }

  :global(.ant-tabs-content-holder) {
    display: none;
  }
}
