$primaryColor: #24A058;
$sedcondaryColor: #24A058;
$borderColor: #000000d2;
$primary50: #24A0580d;

$backgroundColor: rgba(37, 163, 166, 0.3490196078);
$backgroundColor1: #24A05859;
$backgroundColorLowOpacity: #25a4a661;
$disabledColor: rgba(206, 206, 206, 1);

$lowOpacityText: #cecece;

$white: #ffffff;

$primaryColor10: #25a4a634;
$primaryColor20: #25a5a733;
$primaryColor35: rgba(37, 165, 167, 0.35);
$primaryColor5: rgba(37, 165, 167, 0.05);
$black: #000;

$gray: #c1c1c1ec;
$placeHolderColor: #08334c80;
$grayLight: rgb(193 193 193 / 35%);

$codeHeaderColor: #24A0581a;
$bgcolor: #24A058;
$primary10: #24A0581a;
