$max-width1372:1372px;
$min-width1025:1024px;

@import "@/modules/testportal_admin/components/styles/colors.scss";
@import "@/modules/testportal_admin/components/styles/mixins.scss";

.main_container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .container{
        width: 100%;
        height: 75vh;
        overflow-y: scroll;
         display: flex;
         flex-direction: column;
         justify-content:flex-start;
         align-items:flex-start;
         row-gap: 0rem;

         .price_container {
            display: flex;
            flex-direction: column;
            input[type="radio"] {
                appearance: none;
                width: 1rem;
                height: 1rem;
                border: 1px solid #2d2d2db5;
                border-radius: 50%;
                outline: none;
                transition: all 0.2s ease-in-out;
                cursor: pointer;
                margin-left: 0.3rem;
                
            &:checked {
               background-color: $iconBackground !important;
                border-color: $iconBackground;
              }
          
              &:focus {
                box-shadow: 0 0 0 2px rgba(76, 175, 80, 0.2);
              }
              }
            .respTitle {
                margin: 1rem 0rem;
                color: $navbarColor;
                font-weight: 700;
                font-size: 1.4rem;
              }
              .radioContainer {
                display: flex;
                align-items: center;
                margin-bottom: 10px;
              }
              
              .radioInput {
                margin-right: 5px;
              }

              
              .radioLabel {
                margin-left: 1rem;
                font-size: 1.1rem;
                font-weight: 600;
              }
              
              .inputContainer {
                margin-top: 1rem;
              }
              .flexCon {
                display: flex;
                align-items: center;
                gap: 1rem;
                font-size: 1rem;
                font-weight: 600;
                margin: 1rem;
                input[type="number"] {
                  width: 100%;
                  outline: 0;
                  border-radius: 0.5rem;
                  padding: 0.5rem 1rem;
                  border: $border;
                }
              }
              .inputLabel {
                margin: 1rem 0rem;
                font-weight: 700;
                font-size: 1.1rem;
              }
          }

         .Content_Security_container{
            width: 100%;
            display: flex;
            justify-content:flex-start;
            align-items:flex-start;
            margin-top: 1rem;
            row-gap: 1.5rem;
            flex-direction: column;
            .header_cont{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            h2{
               font-size: 1.2rem;
               color: $navbarColor;
               font-weight: 650;
            }
            .honest_para{
                font-size: 0.9rem;
                line-height: 1.2rem;
            }
            .Leavingtestpage_container{
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                row-gap: 0.5rem;
                padding: 1rem;
                background-color: $btnbackground;
                border-radius: 0.5rem;

                div{
                    width: 100%;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    font-weight: 600;
                    column-gap: 0.3rem;
                    img{
                        width: 2%;
                    }
                }
                p{
                    font-size: 0.8rem;
                    font-weight: 550;
                    line-height: 1.2rem;
                }
                button{
                    width: 14%;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    font-weight: 600;
                    border: 1px solid #D9D9D9;
                    padding: 0.4rem;
                    column-gap: 0.3rem;
                    background-color: $LeavingtestpageButton;
                    border-radius: 0.3rem;
                    cursor: pointer;
                    img{
                        width: 10%;
                    } 
                }
                @media  (min-width:$min-width1025) and (max-width:$max-width1372) {
                    button{
                        width: 20%;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        font-weight: 600;
                        border: 1px solid #D9D9D9;
                        padding: 0.4rem;
                        column-gap: 0.3rem;
                        background-color: $LeavingtestpageButton;
                        border-radius: 0.3rem;
                        cursor: pointer;
                        img{
                            width: 10%;
                        } 
                    }
                }
            }
            .disable_inputs_cont{
                width: 100%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                column-gap: 0.5rem;

                span{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    column-gap: 0.6rem;

                    input[type="radio"] {
                        appearance: none;
                        width: 1rem;
                        height: 1rem;
                        border: 1px solid #2d2d2db5;
                        border-radius: 50%;
                        outline: none;
                        transition: all 0.2s ease-in-out;
                        cursor: pointer;
                        margin-left: 0.3rem;
                        
                    &:checked {
                       background-color: $iconBackground !important;
                        border-color: $iconBackground;
                      }
                  
                      &:focus {
                        box-shadow: 0 0 0 2px rgba(76, 175, 80, 0.2);
                      }
                      }
                }
            }
            .Maximum_respondents_cont{
                width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            column-gap: 1rem;
            div{
                display: flex;
                justify-content: flex-start;
                flex-direction: column;
                align-items: flex-start;
                row-gap: 0.5rem;
                span{
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    font-size: 0.8rem;
                    img{
                        width: 3%;
                    }
                }
            }
            select{
                border: 1px solid var(--Green-with-transp, $LeavingtestpageButton);
                border-radius: 0.4rem;
                padding: 0.4rem;
            }
            }
            .encryption_cont{
                display: flex;
                justify-content: center;
                align-items: center;
                column-gap: 1rem;
              input{
                cursor: pointer;
              }
            }
            .no_encryption_cont{
                display: flex;
                justify-content: center;
                align-items: center;
                column-gap: 1rem;
            }
            @media  (min-width:$min-width1025) and (max-width:$max-width1372) {
                .encryption_cont{
                    font-size: 0.8rem;
                }
                .no_encryption_cont{
                    font-size: 0.8rem;
                }
            }
         }
         .bottom_line{
            width: 100%;
            border: 1px solid #7E7E7E;
            margin-top: 1rem;
         }
         .snapshot_technology_cont{
            width: 100%;
            display: flex;
            justify-content:flex-start;
            align-items:flex-start;
            margin-top: 1rem;
            row-gap: 1.5rem;
            margin-bottom: 3rem;
            flex-direction: column;
            .header_titles{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                h2{
                    font-size: 1.2rem;
                    color: $navbarColor;
                    font-weight: 650;
                }
            }
       
            .para{
                font-size: 0.9rem;
                line-height: 1.2rem;            }

                .Taking_Snapshot_container{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                    row-gap: 0.5rem;
                    padding: 1rem;
                    background-color: $btnbackground;
                    border-radius: 0.5rem;
    
                    div{
                        width: 100%;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        font-weight: 600;
                        column-gap: 0.3rem;
                        img{
                            width: 2%;
                        }
                    }
                    .Identification_cont{
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: flex-start;
                        row-gap: 0.6rem;
                        margin-top: 1rem;
                        margin-bottom: 1rem;
                    }
                    p{
                        font-size: 0.8rem;
                        font-weight: 550;
                        line-height: 1.2rem;
                    }
                    button{
                        width: 14%;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        font-weight: 600;
                        border: 1px solid #D9D9D9;
                        padding: 0.4rem;
                        column-gap: 0.3rem;
                        background-color: $LeavingtestpageButton;
                        border-radius: 0.3rem;
                        cursor: pointer;
                        img{
                            width: 10%;
                        } 
                    }
                    @media  (min-width:$min-width1025) and (max-width:$max-width1372) {
                        button{
                            width: 20%;
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            font-weight: 600;
                            border: 1px solid #D9D9D9;
                            padding: 0.4rem;
                            column-gap: 0.3rem;
                            background-color: $LeavingtestpageButton;
                            border-radius: 0.3rem;
                            cursor: pointer;
                            img{
                                width: 10%;
                            } 
                        }
                    }
                }
         }

         .access_type_container{
            width: 100%;
            display: flex;
            justify-content:flex-start;
            align-items:flex-start;
            row-gap: 1rem;
            margin-top: 1.2rem;
            flex-direction: column;

            h2{
                font-size: 1.2rem;
                color: $navbarColor;
                font-weight: 650;
             }
             .access_type_buttons{
                width: 100%;
                display: flex;
                justify-content:flex-start;
                gap: 1rem;
                align-items: center;
                margin-bottom: 1rem;

                .access_button{
                    width: 18%;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    column-gap: 1rem;
                    font-size: 0.8rem;
                    padding: 0.6rem 0.9rem 0.6rem 0.9rem;
                    font-weight: 600;
                    border-radius: 0.5rem;
                    cursor: pointer;
                    background-color: $sidebargray;
                    border: 1px solid #D9D9D9;
                    img{
                        width: 10%;
                    }
                }
                .activeButton{
                   background-color: $iconBackground;
                }
                @media  (min-width:$min-width1025) and (max-width:$max-width1372) {
                    .access_button{
                        width: 28%;
                        column-gap: 1rem;
                        font-size: 0.8rem;
                        img{
                            width: 10%;
                        }
                    }
                }
             }
         }
         .save_btn{
            width: 14%;
            background-color: $LeavingtestpageButton;
            font-weight: 650;
            font-size: 1rem;
            border: none;
            padding: 0.5rem;
            border-radius: 0.5rem;
         }
    }
}
.container::-webkit-scrollbar{
 display: none;
}
@media (min-width:1100px) and (max-width:1245px) {
    .HonestradioGroup {
    font-size: 0.6rem !important;
    :where(.css-dev-only-do-not-override-1rwqi0i)[class^="ant-radio"] [class^="ant-radio"], :where(.css-dev-only-do-not-override-1rwqi0i)[class*=" ant-radio"] [class^="ant-radio"], :where(.css-dev-only-do-not-override-1rwqi0i)[class^="ant-radio"] [class*=" ant-radio"], :where(.css-dev-only-do-not-override-1rwqi0i)[class*=" ant-radio"] [class*=" ant-radio"] {
        box-sizing: border-box;
        font-size: 0.6rem !important;
    }
    }
    .ant-radio-button-wrapper {
        font-size: 0.6rem !important;
    }
    :where(.css-dev-only-do-not-override-1rwqi0i).ant-radio-button-wrapper {
        font-size: 0.6rem !important;
    }
}
@media (min-width:1024px) and (max-width:1100px) {
    .HonestradioGroup {
        font-size: 0.6rem !important;
    }
    .ant-radio-button-wrapper {
        font-size: 0.6rem !important;
    }
}