$headerColor: #27ae60;
$iconBackground: #1da469;
$iconBackgroundLowOpacity: #56d2d47a;

$iconBackgroundLowOpacity10: #1da46933;

$buttonBackground: #fafafa;

$liveTraning: #869df0;
$liveStreaming: #fc7474;
$lightbg: #6e6e6e;

$scrollBorder: #f5f5f5;

$white: #ffffff;

$inputBackground: #1da46933;


$queScore: #87cc85;
$partialScore: #ff8540;
$bonusScore: #6e87f5;
$negScore: #ff3939;

$black: #000000;

$orange: #ffa500;
$notAnswered: #4e4eff;

$bgSelected: #56d2d499;
$incorrectAns: #e43e5f;
$bluebackground: #6e87f5;
$resultChartBackground: #56d2d44d;
$correctAns: #87cc85;
